

/**umb_name:Header*/
h4{font-size:20px;}

/**umb_name:Big Heading*/
.BigHeading{font-size:30px;}

/**umb_name:White*/
.White{color:white;}

/**umb_name:h1*/
.h1{font-size:35px;
font-wieght:300;}

/**umb_name:grey*/
.grey{font-color:darkgrey}