﻿@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Controllers
@{ 
    var isApp = "false";
    foreach (var s in ViewData)
    {
        isApp = s.Value.ToString();
    }
    var uploadFile = isApp.ToLower() == "true" ? "Sample.csv" : "SampleBasic.csv";
    }

@using (Html.BeginUmbracoForm("UploadEmployeeAccounts", "EmployeeSurface", null, new Dictionary<string, object> { { "class", "Form-Group" } }))
{
  

    



                    <div class="col-lg-6">
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput">
                                <i class="fa fa-file fileinput-exists"></i>
                                <span class="fileinput-filename"></span>
                            </div>
                            <span class="input-group-addon btn btn-default btn-file">
                                <span class="fileinput-new">Select CSV file </span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" name="value" id="value"/>
                            </span>
                            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>

                            </div>

                        @*<input type="file" id="value" name="value" class="form-control" required />*@
                        </div>

                        <div class="col-lg-3 ">

                            <button type="submit" class="btn btn-primary btn-md m-t-10 waves-effect" id="btnSaveCP" onclick="return confirm('This will delete all employee data in the system, are you sure you want to continue?')" ><i class="fa " id="saveSet"></i> Upload Employee CSV File</button>

                        </div>
                        <div class="col-lg-2 ">
                            <a href="/Documents/@uploadFile"> <span class="btn btn-success">Sample CSV</span></a>
                        </div>

                   <p>&nbsp;</p>


}