﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginModel = new LoginModel();
    
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()

@using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
{
      <fieldset >
        <legend class="text-white">Login</legend>
        <div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    @Html.ValidationSummary("loginModel", true)

                    @*@Html.LabelFor(m => loginModel.Username)*@
                    @Html.TextBoxFor(m => loginModel.Username, null, new { @class = "form-control textInput", @placeholder = "Username" })
                    @Html.ValidationMessageFor(m => loginModel.Username)
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    @*@Html.LabelFor(m => loginModel.Password)*@
                  
                    @Html.PasswordFor(m => loginModel.Password, new { @class = "form-control textInput", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => loginModel.Password)
                    <br />
                </div>
            </div>
            <div class="row">
                @*<div class="checkbox form-group col-sm-2">
                    @Html.CheckBoxFor(m => loginModel.RememberMe)
                    @Html.LabelFor(model => loginModel.RememberMe)
                </div>*@

                <div class="form-group col-sm-12">
                    <button type="submit" class="btn btn-primary full-width m-b" style="background-color:#273B44">Login</button>
                </div>
            </div>


        </div>
</fieldset>
}
