﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "AppMaster.cshtml";

    var guidCode=  Request.Params["Guid"];
    var isSelf= Request.Params["self"];
    /*var Appraisal = AppraisalHelper.RetrieveAppraisal(guidCode, isSelf)*/
    ;
}

@* the fun starts here *@


@section styles{
    <link rel="stylesheet" href="/css/rzslider.css" />
    <link rel="stylesheet" href="/css/demo.css" />

    <style>

        .icon-md {
            font-size: 24px;
            height: 68px;
            width: 68px;
            line-height: 68px;
            color: #fff;
            margin-right: 10px;
            background-color: rgba(0, 0, 0, 0.4);
            text-align: center;
            display: inline-block;
            border-radius: 100%;
            margin-bottom: 10px;
        }
        .icon-color2 {
    background-color: #2ecc71;
}
          .icon-color1 {
    background-color: #d09ad1;
}
            .icon-color6 {
    background-color: #efe8e8;
}
              .icon-color4 {
    background-color: #88c0e0;
}
                .icon-color5 {
    background-color: #53e85a;
}
                  .icon-color3 {
    background-color: #f9bc04;
}
    </style>
}
@*@guidCode*@

<div >
    <div class="row  border-bottom white-bg dashboard-header" style="background-image:url(/img/618051.jpg); min-height:282px;">
        <div class="col-lg-12">
        <h1 class=" text-center" style="font-size:62px; font-weight:bold;">BayWa r.e Pulse Survey</h1>
        <h2 class="text-center">Self Assesment of James Moore</h2>
            </div>
        </div>
    </div>
        <div class="wrapper wrapper-content animated fadeInRight ecommerce" style="margin-top:20px;">
            <div ng-app="rzSliderDemo">
                <div ng-controller="MainCtrl">
                    <div ng-hide="completed">
                        <div style="text-align:center"><i ng-if="loading" class="fa fa-spin fa-spinner fa-4x"></i></div>
                       <h1 class="text-center" style="font-size:40px">Survey Questions</h1>
                        <p class="text-center" style="font-size:110%"><strong>Please respond to each of the statements below by rating one number that most closely describes the extent to which you agree or disagree with the statement.</strong></p>
                        <article ng-repeat="q in SliderQuestions">
                            <h1 ng-if="q.IsValue" class="text-center" style="font-size:48px;  padding:50px;">{{q.ValueName}}</h1>

                            <div class="panel panel-default" ng-if="q.IsCategory">
                                <div class="panel-heading">  <h2 class="text-center" style="padding-bottom:10px;">{{q.CompetencyName}}</h2></div>
                          
                            <div class="panel-body" ng-if="q.IsCategory">

                                <div ng-repeat="a in q.QuestionList" ng-if="q.IsCategory" >

                                    <div style="margin:50px;">

                                        <div class="row">
                                            <div class="col-lg-1">    <span class=" icon-md icon-color{{$index+1}} " style="">{{a.QuestionNumber}}</span></div>  <div class="col-lg-11"> <h3 ng-if="!a.IsValue && !a.IsCategory" style="padding:17px;">{{a.Question}}</h3></div>
                                        </div>
                                        <div class="m-t-xl m-b-xl">
                                            <rzslider ng-if="!a.IsValue && !a.IsCategory"
                                                      class="with-legend"
                                                      rz-slider-model="a.Answer"
                                                      rz-slider-options="slider_ticks_legend.options">
                                            </rzslider>
                                        </div>
                                    </div>
                                    <hr ng-if="$index<=1"/>
                                </div>
                                
                            </div>
</div>
                              
                                 

                        </article>
                        <div class="row">
                            <div class="col-lg-12">
                                <button ng-hide="loading" class="col-lg-12 btn btn-success" ng-click="SubmitAnswers()"> <h3> <i ng-if="completing" class="fa fa-spin fa-spinner"></i> <strong>Finish Survey</strong></h3></button>
                            </div>
                            </div>
                        </div>

                    <div ng-show="completed">
                        <h1 style="text-align:center">Thank you for completing the Survey</h1>
                    </div>
                    <br />

                </div>
            </div>
        </div>
        @section scripts{
            <script src="/js/angular.min.js"></script>
            <script src="/js/plugins/rzslider/ui-bootstrap-tpls.js"></script>
            <script src="/js/plugins/rzslider/rzslider.js"></script>
            <script src="/demo.js"></script>

            <script>
$( "body" ).addClass( "mini-navbar" );

        var app = angular.module('rzSliderDemo', ['rzSlider', 'ui.bootstrap'])

    app.controller('MainCtrl', function($scope, $rootScope, $timeout, $uibModal, $http) {
      //Minimal slider config
        $scope.SliderQuestions = [];
        $scope.completing = false;
        $scope.completed = false;
        $scope.loading = false;

        $scope.GetSurveyQuestions = function () {
            $scope.loading = true;
            $http.get('/umbraco/API/SurveyApi/GetSurveyQuestions?Guid=@guidCode')
                .success(function (data, status) {
                    $scope.SliderQuestions = data;
                    $scope.loading = false;
                    console.log(data);
                    //console.log($scope.MemberId);

                }).error(function (error, status) {
                    toastr.error("Unable to fetch surveys, refresh page");
                    $scope.loading = false;
                });
        }

        $scope.GetSurveyQuestions();

        $scope.SubmitAnswers = function () { //submit survey answers to update appraisalAnswers
            var config = {};
            $scope.completing = true;
            $http.post('/umbraco/API/SurveyApi/SubmitSurvey', $scope.SliderQuestions, config)
                .success(function (data, status) {
                    //console.log(data)
                    $scope.completing = false;
                    $scope.completed = true;
                    toastr.success("Form Submited Successfully");

                }).error(function (error, status) {
                    toastr.error("Unable to submit survey");
                    $scope.completing = false;
                    console.log(error)
                });

        }

        //Slider custom styles
        $scope.color_slider_pointer=
            {
            value: 2,
        }
        $scope.minSlider = {
        value: 10,
        }
        $scope.stuff = 4;

        $scope.testValue = "b";
      $scope.debugSlider = {
        value: 50,
        options: {
          showTicks: 5,
          showTicksValues: 10,
          floor: 0,
          ceil: 100,
          step: 5,
          showSelectionBar: true,
        },
      }

      //Range slider config
      $scope.rangeSlider = {
        minValue: 10,
        maxValue: 90,
        options: {
          floor: 0,
          ceil: 100,
          step: 1,
        },
      }

      $scope.customSlider = {
        minValue: 10,
        maxValue: 90,
        options: {
          floor: 0,
          ceil: 100,
          step: 10,
          showTicks: true,
        },
      }

      //Range slider with minLimit and maxLimit config
      $scope.minMaxLimitSlider = {
        value: 50,
        options: {
          floor: 0,
          ceil: 100,
          step: 1,
          minLimit: 10,
          maxLimit: 90,
        },
      }

      $scope.restrictedRangeSlider = {
        minValue: 10,
        maxValue: 90,
        options: {
          restrictedRange: {
            from: 30,
            to: 70,
          },
          floor: 0,
          ceil: 100,
          step: 1,
        },
      }

      //Range slider with minRange and maxRange config
      $scope.minMaxRangeSlider = {
        minValue: 40,
        maxValue: 60,
        options: {
          floor: 0,
          ceil: 100,
          step: 1,
          minRange: 10,
          maxRange: 50,
        },
      }

      //Range slider with noSwitching config
      $scope.noSwitchingSlider = {
        minValue: 10,
        maxValue: 90,
        options: {
          floor: 0,
          ceil: 100,
          step: 1,
          noSwitching: true,
        },
      }

      //Range slider with minRange and pushRange config
      $scope.minPushRangeSlider = {
        minValue: 40,
        maxValue: 60,
        options: {
          floor: 0,
          ceil: 100,
          minRange: 10,
          pushRange: true,
        },
      }

      $scope.outerBarsRangeSlider = {
        minValue: 30,
        maxValue: 70,
        options: {
          floor: 0,
          ceil: 100,
          step: 1,
          showOuterSelectionBars: true,
        },
      }

      //Slider with selection bar
      $scope.slider_visible_bar = {
        value: 10,
        options: {
          showSelectionBar: true,
        },
      }

      //Slider with selection bar end
      $scope.slider_visible_bar_end = {
        value: 10,
        options: {
          ceil: 100,
          showSelectionBarEnd: true,
        },
      }

      //Slider with selection bar from value
      $scope.slider_visible_bar_from_value = {
        value: 10,
        options: {
          floor: -100,
          ceil: 100,
          step: 10,
          showSelectionBarFromValue: 0,
        },
      }

      //Slider with selection bar gradient
      $scope.gradient_slider_bar = {
        minValue: 0,
        maxValue: 33,
        options: {
          ceil: 100,
          showSelectionBar: true,
          selectionBarGradient: {
            from: 'white',
            to: '#0db9f0',
          },
        },
      }

      //Slider with selection bar color
      $scope.color_slider_bar = {
        value: 12,
        options: {
          showSelectionBar: true,
          getSelectionBarColor: function(value) {
            if (value <= 3) return 'red'
            if (value <= 6) return 'orange'
            if (value <= 9) return 'yellow'
            return '#2AE02A'
          },
        },
      }

      //Slider with pointer color
      $scope.color_slider_pointer = {
        value: 12,
        options: {
          getPointerColor: function(value) {
            if (value <= 3) return 'red'
            if (value <= 6) return 'orange'
            if (value <= 9) return 'yellow'
            return '#2AE02A'
          },
        },
      }

      //Slider config with floor, ceil and step
      $scope.slider_floor_ceil = {
        value: 12,
        options: {
          floor: 10,
          ceil: 100,
          step: 5,
        },
      }

      //Slider config with logarithmic scale
      $scope.slider_log = {
        value: 1,
        options: {
          floor: 1,
          ceil: 100,
          logScale: true,
          showTicks: true,
        },
      }

      //Slider config with custom scale
      $scope.slider_custom_scale = {
        value: 50,
        options: {
          floor: 0,
          ceil: 100,
          step: 10,
          showTicksValues: true,
          customValueToPosition: function(val, minVal, maxVal) {
            val = Math.sqrt(val)
            minVal = Math.sqrt(minVal)
            maxVal = Math.sqrt(maxVal)
            var range = maxVal - minVal
            return (val - minVal) / range
          },
          customPositionToValue: function(percent, minVal, maxVal) {
            minVal = Math.sqrt(minVal)
            maxVal = Math.sqrt(maxVal)
            var value = percent * (maxVal - minVal) + minVal
            return Math.pow(value, 2)
          },
        },
      }

      //Right to left slider with floor, ceil and step
      $scope.slider_floor_ceil_rtl = {
        value: 12,
        options: {
          floor: 10,
          ceil: 100,
          step: 5,
          rightToLeft: true,
        },
      }

      //Slider config with callbacks
      $scope.slider_callbacks = {
        value: 3,
        options: {
          onStart: function(id) {
            console.log('start ' + id)
            //$scope.otherData.start = newValue * 10
          },
          onChange: function(id) {
            console.log('change ' + id)
            //$scope.otherData.change = newValue * 10
          },
          onEnd: function(id) {
            console.info('end ' + id)
            //$scope.otherData.end = newValue * 10
          },
        },
      }

      $scope.otherData = {
        start: 0,
        change: 0,
        end: 0,
      }

      //Slider config with custom display function
      $scope.slider_translate = {
        minValue: 100,
        maxValue: 400,
        options: {
          ceil: 500,
          floor: 0,
          id: 'translate-slider',
          translate: function(value, id, which) {
            console.info(value, id, which)
            return '$' + value
          },
        },
      }

      //Slider config with custom display function using html formatting
      $scope.slider_translate_html = {
        minValue: 100,
        maxValue: 400,
        options: {
          floor: 0,
          ceil: 500,
          translate: function(value, sliderId, label) {
            switch (label) {
              case 'model':
                return '<b>Min price:</b> $' + value
              case 'high':
                return '<b>Max price:</b> $' + value
              default:
                return '$' + value
            }
          },
        },
      }

      //Slider config with steps array of letters
      $scope.slider_alphabet = {
        value: 'E',
        options: {
          stepsArray: 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split(''),
        },
      }

      //Slider with ticks
      $scope.slider_ticks = {
        value: 5,
        options: {
          ceil: 10,
          floor: 0,
          showTicks: true,
        },
      }

      //Slider with ticks at specific positions
      $scope.slider_ticks_array = {
        value: 5,
        options: {
          ceil: 10,
          floor: 0,
          ticksArray: [0, 1, 3, 8, 10],
        },
      }

      //Slider with ticks and tooltip
      $scope.slider_ticks_tooltip = {
        value: 5,
        options: {
          ceil: 10,
          floor: 0,
          showTicks: true,
          ticksTooltip: function(v) {
            return 'Tooltip for ' + v
          },
        },
      }

      //Slider with ticks and values
      $scope.slider_ticks_values = {
        value: 5,
        options: {
          ceil: 10,
          floor: 0,
          showTicksValues: true,
          ticksValuesTooltip: function(v) {
            return 'Tooltip for ' + v
          },
        },
      }

      //Range slider with ticks and values
      $scope.range_slider_ticks_values = {
        minValue: 1,
        maxValue: 8,
        options: {
          ceil: 10,
          floor: 0,
          showTicksValues: true,
        },
      }

      //Slider with ticks at intermediate positions
      $scope.slider_ticks_at = {
        value: 500,
        options: {
          ceil: 1000,
          floor: 0,
          showTicks: 100,
        },
      }

      //Slider with ticks and values at intermediate positions
      $scope.slider_ticks_values_at = {
        value: 500,
        options: {
          ceil: 1000,
          floor: 0,
          showTicksValues: 100,
        },
      }

      //Slider with ticks values and legend
      $scope.slider_ticks_legend = {
        value: 3,
        options: {
          showTicksValues: true,
          stepsArray: [
            { value: 1, legend: 'Very poor' },

            { value: 2, legend: 'Fair' },

            { value: 3, legend: 'Average' },

            { value: 4, legend: 'Good' },

            { value: 5, legend: 'Excellent' },
          ],
        },
      }

      //Slider with custom tick formatting
      $scope.slider_tick_color = {
        value: 0,
        options: {
          ceil: 1200,
          floor: 0,
          step: 50,
          showSelectionBar: true,
          showTicks: true,
          getTickColor: function(value) {
            if (value < 300) return 'red'
            if (value < 600) return 'orange'
            if (value < 900) return 'yellow'
            return '#2AE02A'
          },
        },
      }









      $scope.toggle = function() {
        $scope.visible = !$scope.visible
        $timeout(function() {
          $scope.$broadcast('rzSliderForceRender')
        })
      }

      //Slider inside modal
      $scope.percentages = {
        normal: {
          low: 15,
        },
        range: {
          low: 10,
          high: 50,
        },
      }
      $scope.openModal = function() {
        var modalInstance = $uibModal.open({
          templateUrl: 'sliderModal.html',
          controller: function($scope, $uibModalInstance, values) {
            $scope.percentages = JSON.parse(JSON.stringify(values)) //Copy of the object in order to keep original values in $scope.percentages in parent controller.

            var formatToPercentage = function(value) {
              return value + '%'
            }

            $scope.percentages.normal.options = {
              floor: 0,
              ceil: 100,
              translate: formatToPercentage,
              showSelectionBar: true,
            }
            $scope.percentages.range.options = {
              floor: 0,
              ceil: 100,
              translate: formatToPercentage,
            }
            $scope.ok = function() {
              $uibModalInstance.close($scope.percentages)
            }
            $scope.cancel = function() {
              $uibModalInstance.dismiss()
            }
          },
          resolve: {
            values: function() {
              return $scope.percentages
            },
          },
        })
        modalInstance.result.then(function(percentages) {
          $scope.percentages = percentages
        })
        modalInstance.rendered.then(function() {
          $rootScope.$broadcast('rzSliderForceRender') //Force refresh sliders on render. Otherwise bullets are aligned at left side.
        })
      }

      //Slider inside tabs
      $scope.tabSliders = {
        slider1: {
          value: 100,
        },
        slider2: {
          value: 200,
        },
      }
      $scope.refreshSlider = function() {
        $timeout(function() {
          $scope.$broadcast('rzSliderForceRender')
        })
      }

      //Slider config with angular directive inside custom template
      $scope.slider_custom_directive_inside_template = {
        minValue: 20,
        maxValue: 80,
        options: {
          floor: 0,
          ceil: 100,
        },
      }

      //Slider with draggable range
      $scope.slider_all_options = {
        minValue: 2,
        options: {
          floor: 0,
          ceil: 10,
          step: 1,
          precision: 0,
          draggableRange: false,
          showSelectionBar: false,
          hideLimitLabels: false,
          readOnly: false,
          disabled: false,
          showTicks: false,
          showTicksValues: false,
          vertical: false,
        },
      }
      $scope.toggleHighValue = function() {
        if ($scope.slider_all_options.maxValue != null) {
          $scope.slider_all_options.maxValue = undefined
        } else {
          $scope.slider_all_options.maxValue = 8
        }
      }
    })

    //app.directive('mySlider', function () {
    //    return {
    //        restrict: 'E',
    //        template:
    //            '<rzslider rz-slider-model="vm.model" rz-slider-options="slider_ticks_legend.options"></rzslider>',
    //        controller: MySliderCtrl,
    //        controllerAs: 'vm',
    //        bindToController: {
    //            model: '=myModel'
    //        }
    //      }
    //    })


    app.directive('clickableLabel', function() {
      return {
        restrict: 'E',
        scope: { label: '=' },
        replace: true,
        template:
          "<button ng-click='onclick(label)' style='cursor: pointer;'>click me - {{label}}</button>",
        link: function(scope, elem, attrs) {
          scope.onclick = function(label) {
            alert("I'm " + label)
          }
        },
      }
    })

            </script>
        }
