﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "AppMaster.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Assign Users and generate surveys</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Managment</a>
            </li>
            <li class="active">
                <strong>Assign Users</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce" ng-app="UserTable">
    <div ng-controller="MainCtrl">

        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="product_name">Survey Name <i class="fa fa-question-circle" uib-tooltip="Choose the Survey period to manage"></i></label>
                        <input type="text" id="product_name" name="product_name" value="" placeholder="Select or create new " class="form-control">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        @*<label class="control-label" for="price">t<i class="fa fa-question-circle" uib-tooltip="After Chosing a survey instance click to load users"></i></label>*@
                        <button class="btn btn-primary" style="margin-top:23px;">Load Users</button>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="price" >Filter By Name</label>
                        <input type="text" id="price" name="price" value="" placeholder="Type Name" class="form-control" ng-model="NameFilter">
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="status">Filter By Status</label>
                        <select name="status" id="status" class="form-control">
                            <option value="1" selected>Enabled</option>
                            <option value="0">Disabled</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">

                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>

                                    <th data-toggle="true">Name</th>
                                    <th data-hide="phone">Subordinates</th>
                                    @*<th data-hide="all">Description</th>*@
                                    <th data-hide="phone">Managers</th>
                                    <th data-hide="phone,tablet">Piers</th>
                                    <th data-hide="phone">Status</th>
                                    <th class="text-right" data-sort-ignore="true">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="u in UsersTable | filter:NameFilter ">
                                    <td>
                                        {{u.MemberName}}
                                    </td>
                                    <td>
                                        <span ng-repeat="item in filteredItems1  = (u.AssignedList | filter:{SurveyType:'Subordinate'})"> {{item.CompletedByName }}<br /></span>
                                        <p ng-if="filteredItems1.length<=0" class="text-warning">None Assigned</p>
                                        @*<p ng-if="u.Assilength<=0" class="text-warning">None Assigned</p>
                                            <span ng-repeat="sb in u.AssignedList" ng-if="sb.SurveyType=='Subordinate'"> {{sb.CompletedByName }}<br /></span>*@

                                    </td>
                                    @*<td>
                                            It is a long established fact that a reader will be distracted by the readable
                                            content of a page when looking at its layout. The point of using Lorem Ipsum is
                                            that it has a more-or-less normal distribution of letters, as opposed to using
                                            'Content here, content here', making it look like readable English.
                                        </td>*@
                                    <td>

                                        @*<span ng-repeat="ml in u.AssignedList" ng-if="ml.SurveyType=='Manager'"> {{ml.CompletedByName }}<br /></span>*@

                                        <span ng-repeat="item in filteredItems  = (u.AssignedList | filter:{SurveyType:'Manager'})"> {{item.CompletedByName }}<br /></span>
                                        <p ng-if="filteredItems.length<=0" class="text-warning">None Assigned</p>

                                    </td>
                                    <td>

                                        <span ng-repeat="item in filteredItems2  = (u.AssignedList | filter:{SurveyType:'Pier'})"> {{item.CompletedByName }}<br /></span>
                                        <p ng-if="filteredItems2.length<=0" class="text-warning">None Assigned</p>
                                        @*<p ng-if="u.PierList.length<=0" class="text-warning">None Assigned</p>
                                            <span ng-repeat="pl in u.PierList"> {{pl.CompletedByName }}<br /></span>*@
                                    </td>
                                    <td>
                                        <span class="label label-primary" ng-if="StatusUpdate(u.AssignedList)==0">waiting</span>
                                        <span class="label label-primary" ng-if="StatusUpdate(u.AssignedList)==1">Partial Assigned</span>
                                        <span class="label label-primary" ng-if="StatusUpdate(u.AssignedList)==2">All Assigned</span>
                                        <span class="label label-primary" ng-if="StatusUpdate(u.AssignedList)==3">Partially Generated</span>
                                        <span class="label label-primary" ng-if="StatusUpdate(u.AssignedList)==4">Partially Generated</span>
                                        <span class="label label-success" ng-if="StatusUpdate(u.AssignedList)==5">All Generated</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button class="btn-white btn btn-xs" ng-click="open('lg', u)" uib-tooltip="View or Assign new users">Edit</button>
                                            <button class="btn-white btn btn-xs" uib-tooltip="Generate Surveys">Create</button>
                                        </div>
                                    </td>
                                </tr>
                                



                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="col-2-lg col-lg-offset-10"><button class="btn btn-success" uib-tooltip="Generate all remaining surveys" ng-click="GenerateSurveys()">Generate Surveys</button> @*<button>Clear All</button>*@</div>
                    </div>

                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3 class="modal-title">Assigned Users</h3>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li ng-repeat="item in items">
                                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-lg-2"><label class="form-control">Select User</label></div>
                                <div class="col-lg-3">

                                    <select class="form-control" ng-options="item as item.MemberName for item in userList track by item.MemberId" ng-model="selectedUser"></select>
                                    @*<select class="form-control" ng-model="mem">
                                            <option ng-repeat="u in userList" value="{{u.MemberId}}">{{u.MemberName}}</option>
                                        </select>*@
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control" ng-model="details.Type">
                                        <option value="">Select Type</option>
                                        <option value="Pier">Pier</option>
                                        <option value="Subordinate">Subordinate</option>
                                        <option value="Manager">Manager</option>
                                    </select>
                                </div>
                                <div class="col-lg-2"><button class="btn btn-success" ng-click="AddAssigned()">Add</button></div>
                                @*<b>{{ selected.item }}</b>*@
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-8 ">
                                <div class="table" style="margin-left:35px;">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>User Name</th>
                                                <th>Type</th>
                                                <th>Status</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="su in SelectUser.AssignedList">
                                                <td><strong>{{su.CompletedByName }}</strong></td>
                                                <td>{{su.SurveyType }}</td>
                                                <td><span class="badge badge-primary">Assigned </span></td>
                                                <td> <i class="fa fa-trash text-warning" uib-tooltip="Remove User"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" ng-click="ok()">Save Changes</button>
                            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
                </div>
            </div>

        </div>
    </div>

</div>
@section styles {

}


@section scripts {
    <!-- FooTable -->
    @*<script src="/js/plugins/footable/footable.all.min.js"></script>*@

    @*<script>
            $(document).ready(function () {

                $('.footable').footable();

            });

        </script>*@
    <script src="/js/angular.min.js"></script>
    <script src="/js/plugins/rzslider/ui-bootstrap-tpls.js"></script>
    <script>
        var app = angular.module('UserTable', ['ui.bootstrap'])

        app.controller('MainCtrl', function ($scope, $rootScope, $timeout, $uibModal, $http, $log) {
            //Minimal slider config
            $scope.SliderQuestions = {}
            $scope.SliderQuestions.question1 = 2;
            $scope.SliderQuestions.question2 = 3;
            $scope.SliderQuestions.question3 = 4;
            $scope.UsersTable = [];
            $scope.UserList = [];
            $scope.UserDetailModel = {};
            $scope.AssignedUserModel = {};

            $scope.GetUsers = function () {


                var config = {};
                $http.get('/umbraco/API/UserAssignApi/GetUserList')
                    .success(function (data, status) {
                        $scope.UsersTable = data;
                        $scope.UserList = angular.copy(data);
                        // alert(data);

                        //  toastr.success("balance Updated Successfully");
                        console.log(data);


                    }).error(function (error, status) {
                        toastr.error("Unable to fetch users, refresh page");
                        // $scope.deleting = false;
                        // $scope.Actioning1 = false;
                    });
            }
            $scope.GetUsers();
            $scope.GetModels = function () {
                $http.get('/umbraco/API/UserAssignApi/GetModels')
                    .success(function (data, status) {
                        $scope.UserDetailModel = data.UserDet;
                        $scope.AssignedUserModel = data.UserAssigned;
                        // alert(data);

                        //  toastr.success("balance Updated Successfully");
                        console.log(data)


                    }).error(function (error, status) {
                        toastr.error("Unable to information, Please refresh page");
                        // $scope.deleting = false;
                        // $scope.Actioning1 = false;
                    });

            }
            $scope.GetModels();
            $scope.UpdateAssigned = function () {
                var config = {};
                $http.post('/umbraco/API/UserAssignApi/AssignUser', $scope.selected, config)
                    .success(function (data, status) {
                        //    $scope.UserDetailModel = data.UserDet;
                        //    $scope.AssignedUserModel = data.UserAssigned;
                        // alert(data);

                        //  toastr.success("balance Updated Successfully");
                        console.log(data)
                        toastr.success("Users Assigned Successfully");
                        var log = [];
                        angular.forEach($scope.UsersTable, function (value, key) {

                            if (value.MemberId == data[0]['ForMember'])
                               value.AssignedList=data;
                        }, log);

                    }).error(function (error, status) {
                        toastr.error("Unable to update users");
                        // $scope.deleting = false;
                        // $scope.Actioning1 = false;
                    });

            }


            /// displays the status
            $scope.StatusUpdate = function ( Assigned) {
               // console.log(Assigned);
                var HighestStatus = 0;
               var LowestStatus = 5;
                $scope.HighestStatus = 0;
                $scope.LowestStatus = 5;
                var log = {};
                  angular.forEach(Assigned, function (value, key) {

                      if (value.status < LowestStatus) {
                          LowestStatus = value.status;
                         
                      }
                      if (value.status > HighestStatus)
                      {
                           HighestStatus = value.status;
                         
                      }
                       
                  }, log);
               
          
                if (Assigned.length > 0) {

                    if (LowestStatus == 0 && HighestStatus == 0) {
                        return 0;
                    }
                    else if (LowestStatus == 0 && HighestStatus == 1) {
                        return 1;
                    }
                     else if (LowestStatus == 1 && HighestStatus == 1) {
                        return 2;
                    }
                     else if (LowestStatus == 0 && HighestStatus >= 2) {
                        return 3;
                    }
                     else if (LowestStatus == 1 && HighestStatus >= 2) {
                        return 4;
                    }
                      else if (LowestStatus == 2 && HighestStatus >= 2) {
                        return 5;
                    }
                     else if (LowestStatus == 3 && HighestStatus >= 3) {
                        return 6;
                    }

                    
                }
               
                else {
                    return 0;
                }

            }
                $scope.GenerateSurveys = function () {
                var config = {};
                $http.post('/umbraco/API/SurveyApi/GenerateAll',$scope.UsersTable, config)
              //  $http.post('/umbraco/API/SurveyApi/GenerateAll',$scope.selected, config)
                    .success(function (data, status) {
                        //    $scope.UserDetailModel = data.UserDet;
                        //    $scope.AssignedUserModel = data.UserAssigned;
                        // alert(data);

                        //  toastr.success("balance Updated Successfully");
                        console.log(data)
                        toastr.success("Users Generated Successfully");
                       
                       

                    }).error(function (error, status) {
                        toastr.error("Unable to update users");
                        // $scope.deleting = false;
                        // $scope.Actioning1 = false;
                    });

            }
            /*********pop up stuff below ********/
            $scope.items = [];
            $scope.items.UserList = [];
            $scope.items.selectedUser = [];
            $scope.items.assignedModel = {};

            $scope.animationsEnabled = true;

            $scope.open = function (size, sUser) {
                $scope.items.UserList = $scope.UserList;
                $scope.items.selectedUser = sUser;
                $scope.items.assignedModel = $scope.AssignedUserModel;
                var modalInstance = $uibModal.open({
                    animation: $scope.animationsEnabled,
                    templateUrl: 'myModalContent.html',
                    controller: 'ModalInstanceCtrl',
                    size: size,
                    resolve: {
                        items: function () {
                            return $scope.items;
                        }
                    }
                });

                modalInstance.result.then(function (selectedItem) {
                     console.log(selectedItem);
                    $scope.selected = selectedItem;
                    $scope.UpdateAssigned();
                   
                }, function () {
                    $log.info('Modal dismissed at: ' + new Date());
                });
            };

            $scope.toggleAnimation = function () {
                $scope.animationsEnabled = !$scope.animationsEnabled;
            };

        });


        // Please note that $uibModalInstance represents a modal window (instance) dependency.
        // It is not the same as the $uibModal service used above.

        angular.module('UserTable').controller('ModalInstanceCtrl', function ($scope, $uibModalInstance, items, $log) {

            //   $scope.items = items;
            $scope.userList = items.UserList;
            console.log($scope.userList);
            $scope.SelectUser = items.selectedUser;
            $scope.details = {};
            $scope.AssignedModel = angular.copy(items.assignedModel);
            $scope.selectedUser = angular.copy($scope.userList[0]);
            //$scope.mem.MemberName = "";
            //$scope.mem.MemberId = "45";
            $scope.details.Type = "";
            console.log($scope.SelectUser);
            $scope.selected = {
                item: $scope.userList[0]
            };

            $scope.ok = function () {
                console.log($scope.SelectUser.AssignedList);
                $uibModalInstance.close($scope.SelectUser.AssignedList);
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss('cancel');
            };

            $scope.AddAssigned = function () {
                console.log($scope.SelectUser);
                if ($scope.CheckExists() == false) {
                    $scope.AssignedModel = angular.copy(items.assignedModel);
                    $scope.AssignedModel.CompletedByName = angular.copy($scope.selectedUser.MemberName);
                    $scope.AssignedModel.CompletedBy = angular.copy($scope.selectedUser.MemberId);
                    $scope.AssignedModel.SurveyType = angular.copy($scope.details.Type);
                    $scope.AssignedModel.ForMember = angular.copy($scope.SelectUser.MemberId);
                    $scope.AssignedModel.MemberName = angular.copy($scope.SelectUser.MemberName);
                    $scope.AssignedModel.Description = "2019/1";
                    $scope.SelectUser.AssignedList.push($scope.AssignedModel);
                }
                else {
                     toastr.error("Cannot Add, Already assigned");
                }
            }

            $scope.CheckExists = function () {
                var checkExists = false;
                var log = [];
                angular.forEach($scope.SelectUser.AssignedList, function (value, key) {

                    if (value.CompletedBy == $scope.selectedUser.MemberId)
                        checkExists = true;
                }, log);
                return checkExists;
            }
        });

    </script>


}
@* the fun starts here *@

