﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "AppMaster.cshtml";
    var userName = EmployeeHelper.GetUser();
    var fullName = userName.Name;
    var firstName = fullName.Split(' ').First();
    var manager = EmployeeHelper.GetManager(userName).Name;
    var reportPage = Umbraco.TypedContent(1211);


    // var listEm = EmployeeHelper.GetSubordinates(userName);
}
@section styles{
    <style>
        .float-right {
            float: right;
        }
    </style>
}
@* the fun starts here *@

<div ng-app="HomePage" ng-controller="MyCtrl">
    <div class="row  border-bottom white-bg dashboard-header">

        <div class="col-md-4">
            <h2>Welcome @firstName</h2>
            <small>You have <i ng-if="loading" class="fa fa-spin fa-spinner"></i> {{awaitingInput}} survey/s waiting to be completed</small>
            <ul class="list-group clear-list m-t">
                <li class="list-group-item fist-item">
                    <span class="float-right">
                        <i ng-if="loading" class="fa fa-spin fa-spinner"></i>
                        <p ng-hide="loading">{{awaitingTotal - awaitingInput}}/{{awaitingTotal}}</p>
                    </span>
                    <span class="label label-success">1</span> Surveys you have to completed
                </li>
                <li class="list-group-item">
                    <span class="float-right" style="float:right;">
                        <i ng-if="loading2" class="fa fa-spin fa-spinner"></i>
                        <span ng-hide="loading2">{{selfCompleted}}/{{ selfWaiting+selfCompleted}}</span>
                    </span>
                    <span class="label label-info">2</span> Your Survey progress
                </li>

            </ul>
        </div>
        <div class="col-md-4">
            <h2>Self Assesment progress</h2>
            <p><br /></p>
            <div style="padding:10px;background-color:#e7eaec" class="alert alert-dismissable">
                <p ng-if="selfAppraisal.status==2"><span class="btn btn-danger btn-sm"><i class="fa fa-bell"></i></span> &nbsp;  &nbsp; &nbsp;  Self Appraisal Not Submited</p>
                <p ng-if="selfAppraisal.status==3" ><span class="btn btn-primary btn-sm"><i class="fa fa-check"></i></span> &nbsp;  &nbsp; &nbsp;  Self Appraisal Submited</p>
            </div>
            <p ng-if="selfWaiting>0"><button ng-disabled="selfAppraisal.status==3 ? true : false" class="btn btn-success" ng-click="redirect(selfAppraisal.SurveyBatch)">Complete Appraisal</button></p>
          <p ng-if="selfWaiting==0"><a href="@reportPage.Url?id=@userName.Id"><button class="btn btn-success"><i class="fa fa-archive"></i> View your report</button></a></p>
            @*<div class="widget navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-plane fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Self Assement</span>
                            <h2 class="font-bold">Incomplete</h2>
                            <p>Click to complete<br /><br /></p>
                        </div>
                    </div>
                </div>*@

        </div>
        <div class="col-md-4">
            <div class="widget lazur-bg">
                <h2>
                    Employee Profile
                </h2>
                <ul class="list-unstyled m-t-md">
                    <li>
                        <span class="fa fa-user-circle m-r-xs"></span>
                        <label>Name:</label>
                        @fullName
                    </li>
                    <li>
                        <span class="fa fa-user-md m-r-xs"></span>
                        <label>Manager:</label>
                        @manager
                    </li>
                    <li>
                        <span class="fa fa-phone m-r-xs"></span>
                        <label>Contact:</label>
                        (+121) 678 3462
                    </li>
                </ul>

            </div>
            @*<div class="statistic-box">
                    <h4>
                       Employee Profile
                    </h4>
                    <p>
                       James Moore

                    <div class="m-t">
                        <small>Manger in Baker Tilly Consulting</small>
                    </div>

                </div>*@
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">

                <div class="ibox ">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Apprasials</span>
                        <h5>Current Appraisals to Evaluate</h5>
                        <div class="ibox-tools">

                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class=" table">
                            <div style="text-align:center"><i ng-if="loading" class="fa fa-spin fa-spinner fa-3x"></i></div>
                            <table class=" table table-hover" ng-hide="loading">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Date Assigned</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="x in SurveyList">
                                    <td>  <a href="/appraisalentry?guid={{x.SurveyBatch}}&isSelf=false">{{x.MemberName}}</a></td>
                                    <td>
                                        <span ng-if="x.ForMember==@userName.Id">Self Assesment</span>
                                        <span ng-if="x.ForMember!=@userName.Id"> {{x.SurveyType}}</span>
                                    </td>
                                    <td>{{x.DateAssigned | date : 'medium'}}</td>
                                    <td>
                                        <i class="fa fa-info-circle text-danger" ng-if="x.status==2" uib-tooltip="Survey not answered yet"></i>
                                        <i class="fa fa-check-circle text-success" ng-if="x.status==3" uib-tooltip="Survey completed"></i>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="/js/angular.min.js"></script>
    <script src="/js/plugins/rzslider/ui-bootstrap-tpls.js"></script>
    <script>
        var app = angular.module('HomePage', ["ui.bootstrap"])

        app.controller('MyCtrl', function ($scope, $rootScope, $timeout, $http, $window) {
            $scope.SurveyData = {};
            $scope.SurveyList = [];
            $scope.loading = false;
             $scope.loading2 = false;

            $scope.GetSurveyList = function () {
                $scope.loading = true;
                $http.get('/umbraco/API/SurveyApi/GetUserSurveyList')
                    .success(function (data, status) {
                        $scope.SurveyData = data;
                        $scope.SurveyList = data.CompletedBy;
                        $scope.awaitingInput = data.AwaitingYourInput;
                        $scope.awaitingTotal = data.AwaitingTotal;
                        $scope.selfAppraisal = data.SelfAssessment;
                        $scope.loading = false;
                          

                        console.log(data);


                    }).error(function (error, status) {
                        toastr.error("Unable to fetch surveys, refresh page");
                        $scope.loading = false;
                    });

            }
            $scope.GetSurveyList();
              $scope.GetSurveyList2 = function () {
               $scope.loading2 = true;
                $http.get('/umbraco/API/SurveyApi/GetSelfSurveyInfo')
                    .success(function (data, status) {
                       
                        $scope.selfWaiting = data.InCompleted;
                        $scope.selfTotal = data.AwaitingTotal;
                          $scope.selfCompleted = data.FinalScore;
                       
                        $scope.loading2 = false;

                    


                    }).error(function (error, status) {
                        toastr.error("Unable to fetch surveys, refresh page");
                        $scope.loading2= false;
                    });

            }
                $scope.GetSurveyList2();
            $scope.redirect = function (route) { //function to redirect to self appraisal form
                $window.location.href = '/appraisalentry?guid=' + route + '&isSelf=false';
            }
        });
    </script>
}
