﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	 Layout = null;
    var logout = Request.Params["logout"];
    if (!String.IsNullOrWhiteSpace(logout))
    {
        FormsAuthentication.SignOut();
        Session.Clear();
        Response.Redirect("/");
    }

    var MediaItem = CurrentPage.Site().HeroBackgroundImage;
    var Logo = CurrentPage.Site().pageIcon;
    var page = CurrentPage;
    }
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pulse Survey</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="~/css/jasny-bootstrap.min.css" rel="stylesheet">

</head>
<body>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <style>
        .backImg {
            background: url(@MediaItem.Url) no-repeat;
            min-height: 100vh;
            background-size: cover;
            /*   background-size:100%;  */
            /*    background-size:100% 100% */
        }

        .loginColumn {
            min-height: 100vh;
        }

        .logoPadding {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 30px;
        }

        img.center {
            display: block;
            margin: 0 auto;
        }

        .textInput {
            color: #000000 !important;
        }

        .allianceBackColor {
            background-color: #0A1720;
        }

        .textWhite {
            color: #ffffff;
        }

        .nav-header {
            height: 69px;
        }

        .navbar {
            padding-bottom: 19px;
        }
    </style>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <div class="row">
        <div class="col-lg-9 hidden-sm backImg">
            @*@{
            if (CurrentPage.Site().HasValue("loginImage"))
            {
            var dynamicMediaItem = Umbraco.Media(CurrentPage.Site().loginImage);
            <img src="@dynamicMediaItem.umbracoFile" class="img-responsive" />

            }
            else
            {
            <img src="/images/people-bokeh2.jpg" class="img-responsive" />
            }
            }
            *@
        </div>
        @if (Members.IsLoggedIn())
        {
        <H2> Logged In Successfully</H2>
        <p>To view your profile go <a href="/administration/employee-overview/">click here </a></p>

        @*@Html.Partial("LoginStatus")


        @Html.Partial("EditProfile")*@

        { Response.Redirect("/"); }


        }

        else

        {
        <div class="col-lg-3 loginColumn allianceBackColor textWhite" style="padding-left:0px;">
            <div style="background-color:#fff;padding-bottom:10px;" class="logoPadding text-center">
                <img src="@Logo.Url" class="img-responsive center" style="height:45px" />
            </div>
            <div class="middle-box text-center loginscreen animated fadeInDown " style="padding-left:15px;">

                <h3 style="padding-top:0px;margin-top:0px;">
                    @*@Umbraco.Field("pageTitle")
                    BTC Login*@
                    @CurrentPage.GetProperty("pageTitle")
                </h3>

                <p>
                    @Umbraco.Field("bodyContent")
                    @*Performance Managment*@
                    @*@CurrentPage.GetGridHtml(Html, "bodyText", "bootstrap3-fluid")*@
                    <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
                </p>

                <div class="form-group">

                    @Html.Partial("Forms/LoginForm")
                    <fieldset>
                        <div>
                            <div ng-app="pReset" ng-controller="passCtrl">
                                <div class="row" ng-init="pasRest=0">
                                    <div class="form-group col-sm-12">
                                        <a href="#" ng-click="passRest==1?passRest=0:passRest=1;"><small>Forgot password?</small></a>
                                    </div>
                                </div>
                                <div ng-show="passRest==1">
                                    <div class="row ">
                                        <div class="checkbox form-group col-sm-12"><input placeholder="UserName" ng-model="mem.Username" class="form-control" type="text" /></div>
                                    </div>
                                    <div class="row ">
                                        <div class="checkbox form-group col-sm-12"><input placeholder="Email" ng-model="mem.Email" class="form-control" type="text" /></div>
                                        {{mem.password}}
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-8">
                                            <button class="btn btn-success block m-b text-center" ng-click="resetPass(mem)"><i class="fa fa-spin fa-spinner" ng-if="actioning"></i> Reset Password</button>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <button class="btn btn-primary block m-b text-center" ng-click="passRest=0">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        }
    </div>
</body>
</html>

<script src="/js/plugins/toastr/toastr.min.js"></script>

<script src="/js/angular.min.js"></script>
<script>
    var pReset = angular.module('pReset', []);

    pReset.controller('passCtrl',
        function ($scope, $compile, $http) {

            $scope.mem = {};
            $scope.mem.Branch = "";
            $scope.mem.Name = "";
            $scope.mem.Password = "";
            $scope.mem.Id = "";
            $scope.actioning = false;

            $scope.resetPass = function (mem) {
                var config = {};
                $scope.actioning = true;
                $http.post('/Umbraco/Api/Member/resetPass/', mem, config)
                    .success(function (data, status) {
                        $scope.actioning = false;

                        switch (data) {
                            case 0:
                                toastr.error("Username not found");
                                break;
                            case 1:
                                toastr.success("Password reset, Check your email");
                                break;
                            case 2:
                                toastr.error("Email does not match username");
                                break;
                        }
                        $scope.passRest = 0;
                    })
            }
        });
</script>




