﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "AppMaster.cshtml";
    var member = EmployeeHelper.GetUser();
    var ManagerId = member.GetValue<Udi>("manager");
    //var ListOrg = EmployeeHelper.GetEmployeesOrg(member);
}

@*@foreach(var l in ListOrg) 
{@l}*@
@* the fun starts here *@

@section styles{
    <style>
        .float-right {
            float: right;
        }
    </style>
}
@* the fun starts here *@

<div ng-app="ManagePortal" ng-controller="ManageCtrl">
    <div class="row  border-bottom white-bg dashboard-header">

        <div class="col-md-5">
            <h2>Welcome to the Management Portal</h2>
            <small>Choose Task options below</small>
            <ul class="list-group clear-list m-t">
                <li class="list-group-item fist-item">
                    <span class="float-right">
                        <i ng-if="loading" class="fa fa-spin fa-spinner"></i>
                        <p ng-hide="loading">{{Total}}</p>
                    </span>
                    <span class="label label-success">1</span> Staff under your control
                </li>
                <li class="list-group-item">
                    <span class="float-right" style="float:right;">
                        <i ng-if="loading" class="fa fa-spin fa-spinner"></i>
                        <p ng-hide="loading">{{TotalCompleted}}/{{Total}}</p>
                    </span>
                    <span class="label label-info">2</span> Completed Progress
                </li>

            </ul>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <h2>Actions</h2>
            <p><br /></p>
            <div style="padding:10px;background-color:#e7eaec" class="alert alert-dismissable">
                <p><button class="btn btn-primary"><i class="fa fa-plus"></i> Create staff appraisal</button></p>
            </div>
            <div style="padding:10px;background-color:#e7eaec" class="alert alert-dismissable">
                <p><button class="btn btn-success"><i class="fa fa-plus"></i> Create Appraisal Template</button></p>
            </div>

            @*<div class="widget navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-plane fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Self Assement</span>
                            <h2 class="font-bold">Incomplete</h2>
                            <p>Click to complete<br /><br /></p>
                        </div>
                    </div>
                </div>*@

        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">

                <div class="ibox ">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Apprasials</span>
                        <h5>Current Appraisals to Evaluate</h5>
                        <div class="ibox-tools">

                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class=" table">
                            <div style="text-align:center"><i ng-if="loading" class="fa fa-spin fa-spinner fa-3x"></i></div>
                            <table class=" table table-hover" ng-hide="loading">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Organisation</th>
                                        <th>Completed</th>
                                        <th>Details</th>
                                        <th>Progress</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="x in SurveyInfo">
                                    <td>{{x.MemberName}}</td>
                                    <td>CEO</td>
                                    <td>
                                        <i ng-if="x.completed==x.total" class="fa fa-check-circle text-success" uib-tooltip="All surveys completed"></i>
                                        <i ng-if="x.completed!=x.total" class="fa fa-info-circle text-danger" uib-tooltip="Not all surveys completed yet"></i>
                                        {{x.completed}}/{{x.total}}
                                    </td>
                                    <td><a href="">View All</a></td>
                                    <td>
                                        <button ng-if="x.completed==x.total" class="btn btn-success">View Report (complete)</button>
                                        <button ng-if="x.completed!=x.total && x.completed>0" class="btn btn-warning">View Report (incomplete)</button>
                                        <strong ng-if="x.completed == 0">No appraisals completed</strong>
                                    </td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="/js/angular.min.js"></script>
    <script src="/js/plugins/rzslider/ui-bootstrap-tpls.js"></script>
    <script>
        var app = angular.module('ManagePortal', ["ui.bootstrap"])

        app.controller('ManageCtrl', function ($scope, $rootScope, $timeout, $http) {
            $scope.SurveyInfo = [];
            $scope.TotalCompleted = 0;
            $scope.loading = false;

            $scope.GetSurveyInfo = function () {
                $scope.loading = true;
                $http.get('/umbraco/API/SurveyApi/GetSurveyInfoByMember')
                    .success(function (data, status) {
                        $scope.SurveyInfo = data;
                        $scope.Total = data.length; //find total no. of survey
                        $scope.TotalCompleted = data.filter(x => x.completed == x.total).length; //find no. of completed surveys

                        $scope.loading = false;
                        console.log(data);


                    }).error(function (error, status) {
                        toastr.error("Unable to fetch surveys, refresh page");
                        $scope.loading = false;
                        console.log(error);
                    });

            }
            $scope.GetSurveyInfo();

        });
    </script>



}
