﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "AppMaster.cshtml";

    var userId = Request.Params["Id"];

    var ReportData = ReportHelper.GetReportData(Int16.Parse(userId));

    var labels = new List<string>();
    var surveyTypes = new List<string>();
    surveyTypes.Add(ReportData.SpiderResults[0].UserType);
    var tempUser = "";
    var SpiderDataList = new List<List<decimal>>();
    var SpiderArray = new List<decimal>();
    // var UserTypes = new List<string>();

    foreach (var sp in ReportData.SpiderResults)
    {
        if (ReportData.SpiderResults[0].UserType == sp.UserType)
        {
            SpiderArray.Add(sp.AverageScore);
            labels.Add(sp.ValueName);
            if (surveyTypes.Count==0)
            {
                surveyTypes.Add(sp.UserType);
            }
        }
        else
        {
            if (tempUser!=sp.UserType)
            {
                SpiderDataList.Add(SpiderArray);
                SpiderArray = new List<decimal>();
                //   UserTypes.Add(sp.UserType);

                surveyTypes.Add(sp.UserType);
                tempUser = sp.UserType;
            }
            SpiderArray.Add(sp.AverageScore);
        }
    }
    SpiderDataList.Add(SpiderArray);
    var userSize = surveyTypes.Count();
    var lbValue = labels.ToArray();
    var sdl= SpiderDataList.ToArray();
    var st = surveyTypes.ToArray();
}

@section styles {
    <style>
        .progress {
            margin-bottom: 5px;
        }
    </style>
}
<div class="col-lg-12" style="margin-top:20px;">
    <div class="jumbotron">
        <h2 style="font-size:30px;">360 Pulse Report</h2>
        <p style="font-size:15px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>
            <a href="" role="button" class="btn btn-primary btn-sm"><span style="font-size:12px;">Learn more</span></a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Report Overview</h5>
            </div>
            <div class="ibox-content">

                <div class="row">
                    <div class="col-lg-6">
                        <canvas id="myChart"></canvas>
                    </div>
                    <div class="col-lg-6">

                        </div>
                    </div>

                    <div class="table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Competency Name</th>
                                    <th>Performance</th>
                                    <th>Manager Average</th>
                                    <th>Subordinate Average</th>
                                    <th>Pier Average</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cp in ReportData.CompetencySummary)
                                {
                                    <tr>
                                        <td>@cp.CompetencyName</td>
                                        <td>@String.Format("{0:0.00}", cp.TotalAverage)</td>
                                        <td>@String.Format("{0:0.00}", cp.ManagerAverage)  </td>
                                        <td>@String.Format("{0:0.00}", cp.SubordinateAverage) </td>
                                        <td>@String.Format("{0:0.00}", cp.PierAverage)</td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>

                </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Compentency Scores</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#" class="dropdown-item">Config option 1</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="panel-body">
                    @foreach (var c in ReportData.CompetencyResults)
                    {
                        <div class="row">
                            <div class="col-lg-5"><h3>@c.CompetencyName</h3></div><div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-2 text-right">1</div>
                                    <div class="col-lg-2 text-right">2</div>
                                    <div class="col-lg-2 text-right">3</div>
                                    <div class="col-lg-2 text-right">4</div>
                                    <div class="col-lg-2 text-right">5</div>
                                </div>
                            </div>
                        </div>
                        <div class="row"><hr style="margin-bottom:10px;margin-top:5px;"></div>
                        <div class="row">
                            <div class="col-md-5">
                                <p>@c.CompetencyDescription</p>
                                @*<p>Takes repsonsibility for actions, projects and people; takes initiative and introducing changes. While also making quick and clear decision.</p>*@
                            </div>
                            <div class="col-md-7">

                                <div>
                                    @foreach (var sc in c.CompetencyList)
                                    {
                                        var progressPercent = sc.Answer * 20; var classProgress = ""; if (@sc.Answer < 2d) { classProgress = "progress-bar-danger"; } else if (@sc.Answer < 3d) { classProgress = "progress-bar-info"; } else if (@sc.Answer == 5d) { classProgress = "progress-bar-success"; }
                                        <div class="row">
                                            <div class="col-lg-10">
                                                <div>
                                                    <span>@sc.SurveyType </span>
                                                    <small class="float-right">@String.Format("{0:0.00}", sc.Answer)/5 </small>
                                                </div>

                                                <div class="progress progress-small">
                                                    <div style="width: @progressPercent%;" class="progress-bar @classProgress "></div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @*<div>
                                            <span>Bandwidth</span>
                                            <small class="float-right">20 GB</small>
                                        </div>
                                        <div class="progress progress-small">
                                            <div style="width: 50%;" class="progress-bar"></div>
                                        </div>

                                        <div>
                                            <span>Activity</span>
                                            <small class="float-right">73%</small>
                                        </div>
                                        <div class="progress progress-small">
                                            <div style="width: 40%;" class="progress-bar"></div>
                                        </div>

                                        <div>
                                            <span>FTP</span>
                                            <small class="float-right">400 GB</small>
                                        </div>
                                        <div class="progress progress-small">
                                            <div style="width: 20%;" class="progress-bar progress-bar-danger"></div>
                                        </div>*@
                                </div>
                            </div>

                        </div>
                        <div class="row"><hr /></div>
                    }
                </div>


            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script>
          var ctx = document.getElementById('myChart').getContext('2d');
            var options = {
                scale: {
                    // display:false,
                    stepSize:1,
                    ticks:{
                        beginAtZero:false,
                        min:1,
                        max:5,
                          stepSize:1

                    }

                }
        };

         window.chartColors = {
                red: 'rgb(255, 99, 132)',
                orange: 'rgb(255, 159, 64)',
                yellow: 'rgb(255, 205, 86)',
                green: 'rgb(75, 192, 192)',
                blue: 'rgb(54, 162, 235)',
                purple: 'rgb(153, 102, 255)',
                grey: 'rgb(231,233,237)'
            };
        var color = Chart.helpers.color;
        var labelSet =@Html.Raw(Json.Encode(lbValue));
        var radarDataSet = [];
        var colourset=[window.chartColors.red,window.chartColors.purple,window.chartColors.yellow,window.chartColors.blue,window.chartColors.green]
        var i;
        var ArrayList =@Html.Raw(Json.Encode(sdl));
        var surveyTypes= @Html.Raw(Json.Encode(st));
         var datauser = {};
for (i = 0; i < @userSize; i++) {
    datauser = {
       data:ArrayList[i] ,
        label: surveyTypes[i],
        backgroundColor: color(colourset[i]).alpha(0.2).rgbString(),
        borderColor: colourset[i],
        pointBackgroundColor: colourset[i]
    }
    radarDataSet.push(datauser);
}
            var myRadarChart = new Chart(ctx, {
                type: 'radar',
                data: {
                    scaleOverride: true,
                    scaleStartValue: 1,
                    labels: labelSet, //['Competency Score', 'KPI Score', 'Salary Increase', 'Ranking', 'Monthly Bonus'],
                    datasets: radarDataSet
                    //datasets: [{
                    //    data: [3, 4, 3,  5],
                    //    label: "Staffs Performance Metrics",
                    //    backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                    //    borderColor: window.chartColors.red,
                    //    pointBackgroundColor: window.chartColors.red

                    //},{data: [5, 3, 2, 4],
                    //    label: "Performance Averages",
                    //    backgroundColor: color(window.chartColors.purple).alpha(0.2).rgbString(),
                    //    borderColor: window.chartColors.purple,
                    //    pointBackgroundColor: window.chartColors.purple}]
                },
                options: options
            });

    </script>
}
@* the fun starts here *@

