﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "AppMaster.cshtml";
     var passData = new KeyValue();
    passData.value = "False";
}

@section styles{
<style>
	.float-right {
		float: right;
	}
</style>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Upload Users to Assign</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Managment</a>
            </li>
            <li class="active">
                <strong>Upload Users</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce" ng-app="UploadUsers" ng-controller="MainCtrl">
    <div class="row">
        @if (TempData["customerval"] != null)
        {
            <div class="alert alert-success">
                @TempData["customerval"]
            </div>

        }
        @if (TempData["tempvalErr"] != null)
        {
            <div class="alert alert-warning">
                @TempData["tempvalErr"]
            </div>

        }
</div>

        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("Forms/EmployeeUploadForm", new KeyValue(), new ViewDataDictionary { { "app", passData.value } })

            </div>
        </div>
    </div>



    @section scripts{
        <script src="/js/angular.min.js"></script>
        <script src="/js/plugins/rzslider/ui-bootstrap-tpls.js"></script>
        <script>
            var app = angular.module('UploadUsers', ["ui.bootstrap"])

            /* A directive to enable two-way binding of file field*/
            app.directive('demoFileModel', function ($parse) {
                return {
                    restrict: 'A',

                    link: function (scope, element, attrs) {
                        var model = $parse(attrs.demoFileModel),
                            modelSetter = model.assign;

                        //Bind change event on the element
                        element.bind('change', function () {
                            scope.$apply(function () {
                                modelSetter(scope, element[0].files[0]);
                            });
                        });
                    }
                };
            });

            app.controller('MainCtrl', function ($scope, $http, $rootscope) {
                $scope.uploadFile = function () {
                    var file = $scope.myFile;

                }
            })

        </script>
    }
