﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var header = CurrentPage.Site().GetProperty("heroHeader");

}
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header col-sm-6">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <div class="col-md-8 mt-3" style="margin-top:15px;">
                <h3 class="text-muted welcome-message">@header</h3>
            </div>
        </div>
        
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome to the BayWa r.e Pulse Survey Portal.</span>
            </li>
            <li>
                <a href="/account?logout=true"> <i class="fa fa-sign-out"></i> Log Out </a>

            </li>
        </ul>
    </nav>