﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web
@{
    var CPage = CurrentPage;
    var SiteSettings = CurrentPage.Site();
    var Logo = SiteSettings.SiteLogo;
    var member = EmployeeHelper.GetById(1151); //EmployeeHelper.LoggedInMember;
    var mType=member.ContentTypeAlias;
    var IsManager =true;// member.GetValue<bool>("isManager"); // member.GetValue<string>("staffLevel") == "Manager" ? true: false;
        // var ApraisalSystem = SiteSettings.useAppraisals;
        //   var ApraisalSystem = ContentHelpers.CheckAppraisals((object)SiteSettings);
        }

        @*
        This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
        This is the home page for a standard website.
        It also highlights the current active page/section in the navigation with the CSS class "current".
        *@

        @{ var selection = Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray(); }

        @if (selection.Length > 0)
        {


        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="@Logo.Url" style="max-width:100px;" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="/#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">BayWa r.e.</strong>
                                    </span> <span class="text-muted text-xs block">@member.Username<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href=""/log-in?logout=true"">@member.Name</a></li>

                                <li class="divider"></li>
                                <li><a href="/log-in?logout=true">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            <img alt="image" class="img img-responsive" src="@Logo.Url" />
                        </div>
                    </li>
                    <li class="" >

                        <a href="@SiteSettings.Url">
                          
                            <i class="fa  fa-home"></i><span class="nav-label"> @SiteSettings.Name</span>

                           
                        </a>
                        </li>

                        @foreach (var item in selection)
                        {

                            @*if (ContentHelpers.pagePermissions(item, mType,IsManager, ApraisalSystem))
                {*@
                            var Icon = "fa-files-o";
                            var menuHead = "";
                        <li class="@(item.IsAncestorOrSelf(Model.Content) ? " active" : null) ">

                            @{ 
                                Icon = item.GetPropertyValue<string>("pageicon"); //item.GetValue<string>("pageIcon");
                            }

                            <a href="@item.Url">
                                @if (!String.IsNullOrWhiteSpace(menuHead.ToString()))
                                {
                                    <h5 class="yellow-text nav-label" style="font-size:13px;">@menuHead</h5>
                                }
                                <i class="fa  @Icon"></i><span class="nav-label"> @item.Name</span>

                                @if (item.Children.Count() > 0)
                                {<span class="fa arrow"></span>}
                            </a>
                            @if (item.Children.Count() > 0)
                            {
                                <ul class="nav nav-second-level collapse">
                                    @foreach (var child in item.Children.Where("Visible"))
                                    {
                                        <li class="@(child.IsAncestorOrSelf(Model.Content) ? " active" : null)">
                                            <a href="@child.Url">
                                                @child.Name

                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                        @*}*@



                    </ul>

            </div>
        </nav>

        }
